.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.bar-chart-container {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.point-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.point {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.marker {
  width: 15px;
  height: 15px;
}

.marker.profit {
  background-color: red;
}

.marker.sales {
  background-color: rgb(19, 103, 231);
}

.chart-section {
  margin-top: 10px;
}

.y-axis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
}

.axis-number {
  width: 10%;
  text-align: right;
}

.line {
  width: 80%;
  background-color: rgba(128, 128, 128, 0.523);
  height: 1px;
}

.line.last {
  background-color: black;
  position: relative;
}

.bars-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.bars {
  background-color: rgb(19, 103, 231);
  transform: translateY(-100%);
}
.profit-bar{
  background-color: red;
}
.months-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}
.months{
  position: absolute;
  bottom: 0;
  transform: translateY(150%);
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .months {
    font-size: 12px;
  }
}